/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-5-1, 21:35:29
    Author     : Greenaway
*/
body{
    text-align:center; 
    background-color: aqua
}
table{
}